.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
     padding: 10px 15px;      /*  DESPLEGABLE PRINCIPAL */
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* EN ESTE PARTE DEL CCS ESTA LA PARTE DE DESPLEGAR  */
.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Icono {
    width: 15%;
}

.opcion {
    align-items: center;
}


/* SIGUE LA PARTE DE LOS FILTROS  */


.filtros {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}

.filtros label {
    display: block;
    margin-bottom: 5px;
}

.filtros input[type="text"],
.filtros select {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.boton1, .boton2, .boton3 {
    padding: 10px;
    color: white;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
}
 .boton1{
    background-color: rgb(50, 143, 250);
 }
.boton2{
    background-color: gray;
}
.boton3{
    background-color: #4CAF50;
}

.boton1:hover, .boton2:hover, .boton3:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/* LISTA DESPLIEGUE */

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
}

.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
}

.Inter{
    text-align: center;
}

.titulo{
    text-align: center;
}