.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* EN ESTE PARTE DEL CCS ESTA LA PARTE DE DESPLEGAR  */
.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Icono {
    width: 15%;
}

.opcion {
    align-items: center;
}


/* SIGUE LA PARTE DE LOS FILTROS  */


.filtros {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content:space-around;
}

.filtros label {
    display: block;
    margin-bottom: 5px;
}

.filtros input[type="text"],
.filtros select {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.filtros button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}